body{
    background-color:#EBC954;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #fff;
    min-height: 90vh;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0px;
    border-radius: 20px;
}

.image-div{
    height:25vh;
}

img{
    width: 225px;
    margin-top: 80px;
}

.section{
    text-align: center;  
    font-weight: 800;  
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 30px;
}

button{
    min-height: 70px;
    min-width: 250px;
    border:none;
    font-size: 20px;
    font-family: 800;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}

.fas, .fab{
    margin:0px 16px;
    float: left;
    font-size:20px;
}

span{
    float: left;
}

.rounded-corners{
    background-color: #212A4D;
    color: #EFCD54;
    border-radius: 20px;
}

@media only screen and (max-width: 700px) {

    .container{
        background-color: #fff;
        min-height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        border-radius: 20px;
    }
}